openapi: 3.2.0
info:
  title: Buxfer Organization API
  version: '1.0'
  description: Faithful OpenAPI representation of the publicly documented Buxfer REST API (https://www.buxfer.com/help/api).
  contact:
    name: Buxfer Support
    url: https://www.buxfer.com/help/
  x-apievangelist-method: generated
  x-apievangelist-source: https://www.buxfer.com/help/api
servers:
- url: https://www.buxfer.com/api
  description: Buxfer production API
security:
- token: []
tags:
- name: Organization
  description: Tags, budgets, reminders.
paths:
  /tags:
    get:
      operationId: listTags
      tags:
      - Organization
      summary: List tags
      description: List all transaction tags with hierarchy information.
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tags list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      status:
                        type: string
                      tags:
                        type: array
                        items:
                          $ref: '#/components/schemas/Tag'
  /budgets:
    get:
      operationId: listBudgets
      tags:
      - Organization
      summary: List budgets
      description: List budgets with spending limits and remaining balances.
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Budgets list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      status:
                        type: string
                      budgets:
                        type: array
                        items:
                          $ref: '#/components/schemas/Budget'
  /reminders:
    get:
      operationId: listReminders
      tags:
      - Organization
      summary: List reminders
      description: List all financial reminders.
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Reminders list.
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: object
                    properties:
                      status:
                        type: string
                      reminders:
                        type: array
                        items:
                          $ref: '#/components/schemas/Reminder'
components:
  schemas:
    Reminder:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        startDate:
          type: string
        period:
          type: string
        amount:
          type: number
        accountId:
          type: integer
    Budget:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        limit:
          type: number
        remaining:
          type: number
        period:
          type: string
        currentPeriod:
          type: string
        tags:
          type: string
        keywords:
          type: string
    Tag:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
        parentId:
          type: integer
  securitySchemes:
    token:
      type: apiKey
      in: query
      name: token
      description: Ephemeral token returned by the login operation, passed as a query parameter on every subsequent request.
